<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Heavy Meta</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hm_web/css/styles.css' %}">
  </head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Heavy Meta</a>
				</div>

        {% load navtags %}
        {% url 'index' as home %}
        {% url 'songs' as songs %}
        {% url 'login' as login %}
        {% url 'logout' as logout %}

				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
            {% if user.is_authenticated %}
						<li class="{% active request songs %}"><a href="/songs">Songs</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li class="{% active request login %}"><a href="/login">Login</a></li>
            {% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
